---
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import WorkList from "../components/WorkList.astro";
import Bin from "../components/Bin.astro";
import Bar from "../components/Bar.astro";
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Portfolio</title>
	</head>
	<body class="bg-wdbg font-W98 h-screen p-8 flex cursor-customdefault">
		<ul class="flex flex-col gap-8 text-white items-center">
			<li class="flex flex-col items-center gap-1 hover:cursor-custompointer" id="bni">
				<img src="/corbeille.png" alt="corbeille" class="w-16" />
				<p class="text-base">Corbeille</p>
			</li>
			<li class="flex flex-col items-center gap-1 hover:cursor-custompointer" id="projets">
				<img src="/projets.png" alt="projets" class="w-16" />
				<p class="text-base">Projets</p>
			</li>
			<li class="flex flex-col items-center gap-1 hover:cursor-custompointer" id="apropos">
				<img src="/a_propos.png" alt="a_propos" class="w-16" />
				<p class="text-base">A propos</p>
			</li>
			<li class="flex flex-col items-center gap-1 hover:cursor-custompointer" id="contact">
				<img src="/contact.png" alt="contact" class="w-16" />
				<p class="text-base">Contact</p>
			</li>
		</ul>
		<Bin id="bin"/>
		<WorkList id="wlist" />
		<About id="about" />
		<Contact id="cont" />
		<Bar />
	</body>
</html>
<script>
	const contact = document.querySelector("#contact");
	const cont = document.getElementById("cont");

	const apropos = document.querySelector("#apropos");
	const about = document.getElementById("about");

	const projets = document.querySelector("#projets");
	const wlist = document.getElementById("wlist");

	const bni = document.querySelector("#bni");
	const bin = document.getElementById("bin");

	contact?.addEventListener("click", () => {
		cont?.classList.remove("hidden");
	});

	apropos?.addEventListener("click", () => {
		about?.classList.remove("hidden");
	});

	projets?.addEventListener("click", () => {
		wlist?.classList.remove("hidden");
	});

	bni?.addEventListener("click", () => {
		bin?.classList.remove("hidden");
	});

	const fermerprojets = wlist?.querySelector(".fermer");
	fermerprojets?.addEventListener("click", () => {
		wlist?.classList.add("hidden");
	});

	const fermerabout = about?.querySelector(".fermer");
	fermerabout?.addEventListener("click", () => {
		about?.classList.add("hidden");
	});

	const fermercontact = cont?.querySelector(".fermer");
	fermercontact?.addEventListener("click", () => {
		cont?.classList.add("hidden");
	});

	const fermerbin = bin?.querySelector(".fermer");
	fermerbin?.addEventListener("click", () => {
		bin?.classList.add("hidden");
	});

	let isDragging = false;
	let startX: number, startY: number, initialTop: number, initialRight: number;
	let currentDraggable: HTMLElement | null = null;

	document.querySelectorAll(".draggable").forEach((draggable) => {
		const windowBar = draggable.querySelector("#wbar");

		windowBar?.addEventListener("mousedown", (event) => {
			isDragging = true;
			currentDraggable = draggable as HTMLElement;
			const e = event as MouseEvent;
			startX = e.clientX;
			startY = e.clientY;
			const rect = currentDraggable.getBoundingClientRect();
			initialTop = rect.top;
			initialRight = window.innerWidth - rect.right;
			e.preventDefault();
		});
	});

	document.addEventListener("mousemove", (e) => {
		if (isDragging && currentDraggable) {
			const deltaX = e.clientX - startX;
			const deltaY = e.clientY - startY;
			currentDraggable.style.top = `${initialTop + deltaY}px`;
			currentDraggable.style.right = `${initialRight - deltaX}px`;
		}
	});

	document.addEventListener("mouseup", () => {
		isDragging = false;
		currentDraggable = null;
	});
</script>
