---
import WindowBar from "./WindowBar.astro";

const {id} = Astro.props

---

<section id={id}
    class="border-4 border-r-black border-b-black md:h-fit md:w-fit absolute hidden w-11/12 h-11/12 draggable">
    <WindowBar fenetre="Contact" image="/contact.png" alt="contact"/>
    <div class="bg-wdwd p-6 flex gap-6 flex-col md:flex-row">
        <ul class="flex flex-col gap-1">
            <li>
                <span class="font-bold">Email :</span> titouanmoulin3@gmail.com
            </li>
            <li><span class="font-bold">Tel :</span> 06 44 78 74 05</li>
            <li class="mt-4">
                <span class="font-bold">Réseau sociaux :</span>
                <ul class="flex gap-2">
                    <li class="w-16"><a href="https://www.linkedin.com/in/titouan-moulin-809bb2265/"><img src="/linkedin.png" alt="linkedin"></a></li>
                    <li class="w-16"><a href="https://www.behance.net/titouanmoulin3"><img src="/behance.png" alt="behance"></a></li>
                </ul>
            </li>
        </ul>
        <article class="border-4 border-l-black border-t-black p-5 flex flex-col gap-4 items-end">
            <form class="w-full">
                <ul class="flex flex-col gap-3 items-end md:gap-2 w-full">
                    <li class="flex md:gap-1 flex-col md:flex-row w-full justify-end">
                        <label>Nom :</label>
                        <input type="text" class="border-4 border-l-black border-t-black px-2 hover:cursor-custompointer"/>
                    </li>
                    <li class="flex md:gap-1 flex-col md:flex-row w-full justify-end">
                        <label>Email :</label>
                        <input type="email" class="border-4 border-l-black border-t-black px-2 hover:cursor-custompointer"/>
                    </li>
                    <li class="flex md:gap-1 flex-col md:flex-row w-full justify-end">
                        <label>Message :</label>
                        <textarea class="border-4 border-l-black border-t-black h-24 resize-none px-2 hover:cursor-custompointer"/>
                    </li>
                </ul>
            </form>
            <input type="submit" class="border-4 border-r-black border-b-black px-3 w-fit hover:cursor-custompointer hover:bg-neutral-400 hover:border-l-black hover:border-t-black hover:border-r-white hover:border-b-white"></input>
        </article>
    </div>
</section>

