---
interface Props {
	nom: string;
}

const {nom} = Astro.props;
---

<section class="bg-wdwd border-2 flex items-center">
    <p class="px-2">A<span class="underline">d</span>dress</p>
    <div class="flex bg-white border-2 border-r-black border-t-black border-l-black gap-2 w-full items-center overflow-hidden">
        <img src="/fichier.png" alt="" class="h-6">
        <p>https://www.monsuperportfolio.com/<span class="lowercase">{nom}</span></p>
    </div>
    <p class="px-2 opacity-50">Go</p>
    <p class="px-2 opacity-50">Links</p>
</section>