---
import type { CollectionEntry } from "astro:content";
import WindowBar from "../components/WindowBar.astro";
import "../styles/global.css";

type Props = CollectionEntry<"blog">["data"];

const { title, heroImage} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{title}</title>
	</head>
	<body class="h-screen font-W98">
		<WindowBar fenetre={title} image="" alt="" />
		<div class="bg-wdwd p-10 flex flex-col gap-6">
			<article class="flex gap-6 items-center">
				<img
					src={heroImage}
					alt="cover"
					class="w-96 h-96 border-4 border-l-black border-t-black"
				/>
				<div class="flex flex-col gap-5">
					<h2 class="font-bold text-2xl">{title}</h2>
					<slot />
				</div>
			</article>
			<ul class="border-4 border-l-black border-t-black h-72 bg-white overflow-y-scroll grid grid-cols-3 gap-4 p-4 w-full">
			</ul>
		</div>
	</body>
</html>
<script>
	const fermer = document.querySelector(".fermer");
	fermer?.addEventListener("click", () => {
		location.href = "/";
	});
	
</script>
